# My Jupyter Notebook on IBM Watson Studio

__Wiwat Wachirapumipak__

Data scientist

_I am interested in data science because I love storytelling that data scientist brings to everyone_

<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

### The following code tests the Gauss formula

In [9]:
def gauss(n):
    return (n*(n+1))/2

gauss(100) == sum(range(101))

True

<hr>

 - one
 - two
 - three
 - one
 - two
 - three

1. one
2. two
3. three

[www.ibm.com](https://www.ibm.com)

| Num | Date | Result |
| --- | --- | -: |
| 1 | 16 Sep | True |